header {
    border-radius: 10px;
    background-color: #f55A5A;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
}

.logo {
    width:35px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
}

.location-img-container {
    width: 225px;
    height: 300px;
    overflow: hidden;
    margin-right: 19px;
    border-radius: 5px;
    flex-shrink: 0;
}

.site-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.location {
    width: 5%;
}

.japan {
    margin: 0 10px 0 4px;
}

.content {
    width: 20%;
}

.date {
    font-weight: bold;
}

.description {
    text-align: justify;
}
