header {
    border-radius: 10px;
    background-color: #f55A5A;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
}

.logo {
    width:35px;
}